# Global options block
{
	# Enable debug logging
	debug

	# Set Ports
	http_port 80
	https_port 443
	
	# Don't redirect HTTP to HTTPS automatically
	auto_https disable_redirects
}

# Shared snippet for all sites
(common_handlers) {
    # Reverse proxy for Socket.io backend
    handle /socket.io/* {
        reverse_proxy nodejs:8080
    }

    # Serve welcome page at root
    handle / {
        rewrite * /files/html/main-menu.html
        root * /app/files
        uri strip_prefix /files
        file_server
    }

    # Serve game page at /game
    handle /game {
        rewrite * /files/html/game.html
        root * /app/files
        uri strip_prefix /files
        file_server
    }

    # Serve static files
    handle /files/* {
        root * /app/files
        uri strip_prefix /files
        file_server
        header {
            # Verhindere Caching für Entwicklung
            Cache-Control "no-cache, no-store, must-revalidate"
            Pragma "no-cache"
            Expires "0"
        }
    }
}

# Site configuration for public domain
https://bleatchvr.mzb-lev.de {
    import common_handlers
}

# Site configuration for internal hostname
https://bleatchvr-caddy {
    tls internal
    import common_handlers
}

# Local development
http://localhost {
    import common_handlers
}